
#SetTimer h2 {
    font-size: 25px;
}

#SetTimer .digit{
    display: inline-block;
    text-align: center;
}

#SetTimer .digit input[type="number"], input[type="text"]{
    font-family: 'Patua One', cursive;
    border-radius: 10px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    width: 70px;
    border: 2px solid darkblue;
}

#SetTimer .digit label {
    font-size: 15px;
}

#setTimerButton {
    border-radius: 10px;
    padding: 5px 15px;
    border: 2px solid darkblue;
    color: #fff;
    background-color: darkblue;
    margin-top: 15px;
    margin-left: 67px;
    font-size: 14px;
}